@import url("colors_ags.css");

* {
	transition: color ease-in-out 0.25s, background ease-in-out 0.25s;
}

window > box {
  background: @background;
  font: 17px "SpaceMono Nerd Font";
  color: @foreground;
  margin: 4px;
  margin-bottom: 0px;
  border: 2px solid @color4;
  min-height: 36px;
}

button {
  background: transparent;
  box-shadow: none;
}

.workspaces {
  margin-left: 6px;
}

.volume {
  margin-right: 6px;
}

.workspaces button {
  border-radius: 0;
  transition: none;
  padding: 0 1px;
  box-shadow: none;
  color: @foreground;
  background-color: transparent;
}

.workspaces button.focused {
  border-bottom: 2px solid @color6;
	margin-top: 2px;
}

.workspaces button:hover {
  color: @color4;
  background: transparent;
}

.icon {
  padding-right: 5px;
  color: @color4;
}

.tray {
  background: transparent;
  margin-right: -5px;
}

.icon .charging {
	color: @color15;
}

.icon .charged {
	color: @color13;
}
