@import url("colors_ags.css");

* {
	transition: color 0.5s ease-in-out, background 0.5s ease-in-out;	
}

window > box {
  background: @background;
  font: 17px "SpaceMono Nerd Font";
  color: @foreground;
  margin: 4px;
  margin-bottom: 0px;
  border: 2px solid @color4;
  min-height: 36px;
}

button {
  background: transparent;
  transition: none;
  box-shadow: none;
}

label {
  font-weight: 600;
}

.workspaces {
  margin-left: 6px;
  margin-right: 0px;
	transition: all 1s ease-in-out;
}

.volume {
  margin-right: 6px;
}

.workspaces button {
  border-radius: 0;
  transition: none;
  padding: 0 1px;
  box-shadow: none;
  color: @foreground;
  background-color: transparent;
}

box.workspaces {
	transition: all 5s ease-in-out;
}

.workspaces button.focused {
	transition: color 1s ease-in-out, background 1s ease-in-out;
  border-bottom: 2px solid @color6;
	margin-top: 2px;
}

.workspaces button:hover {
  color: @color4;
  background: transparent;
}

.icon {
  padding-right: 6px;
  color: @color4;
}

.muted {
  color: @color9;
}

.tray {
  background: transparent;
  margin-right: -10px;
}

.trayicon {
	margin: 0px;
}

.charging {
	color: @color15;
}

.charged {
	color: @color13;
}
