@import url("colors_ags.css");

window > box {
  background: @background;
  margin: 4px;
  margin-bottom: 0px;
  border: 2px solid @color4;
  min-height: 32px;
}

label {
  font: 18px "SpaceMono Nerd Font";
  color: @foreground;
}
button {
  background: transparent;
  box-shadow: none;
	padding: 0;
	margin: 0;
}

.workspaces {
  margin-left: 6px;
}

.volume {
  margin-right: 6px;
}

.workspaces button {
  border-radius: 0;
  padding: 0 2px;
  box-shadow: none;
  color: @foreground;
}

.workspaces button.focused {
  border-bottom: 2px solid @color6;
	margin-top: 2px;
}

.workspaces button:hover {
  color: @color4;
}

.icon {
  padding-right: 5px;
  color: @color4;
}

.tray {
  background: transparent;
  margin-right: -5px;
}
