alias rm='rm -rIv'
alias cp='cp -rv'
alias mv='mv -v'
alias mkdir='mkdir -v'
alias rmdir='rmdir -v'
alias ..='cd ..'
alias cat='bat'
alias grep='rg'
alias la='exa --icons -a --group-directories-first'
alias ll='exa --icons -lah --group-directories-first'
alias ls='exa --icons --group-directories-first'
alias tree='exa --icons --tree'

alias bsrc="$EDITOR $HOME/.config/bspwm/bspwmrc"
alias sxrc="$EDITOR $HOME/.config/sxhkd/sxhkdrc"
alias picomrc="$EDITOR $HOME/.config/picom/picom.conf"
alias dunstrc="$EDITOR $HOME/.config/dunst/dunstrc"
alias rofirc="$EDITOR $HOME/.config/rofi/config.rasi"
alias kittyrc="$EDITOR $HOME/.config/kitty/kitty.conf"
alias polybarrc="$EDITOR $HOME/.config/polybar/config.ini"
alias zshrc="$EDITOR $HOME/.config/zsh/.zshrc"
alias xinitrc="$EDITOR $HOME/.config/X11/xinitrc"

alias updates="checkupdates; paru -Qum"
alias rs="curl --data-binary @- https://paste.rs | xclip -selection clipboard"
alias neofetch="doas pacman -S --noconfirm --noprogressbar neofetch >/dev/null && neofetch && doas pacman -R --noconfirm --nosave neofetch >/dev/null"
alias cmus="cmus-rpc-rs --b1u '' --b1t '' --link &>/dev/null & cmus"
