alias rm='rm -rIv'
alias cp='cp -rv'
alias mv='mv -v'
alias mkdir='mkdir -vp'
alias grep='rg'
alias cat='bat'

alias la='exa --icons -a --group-directories-first'
alias ll='exa --icons -lah --group-directories-first'
alias ls='exa --icons --group-directories-first'
alias tree='exa --icons --tree'

alias hyprrc="$EDITOR $XDG_CONFIG_HOME/hypr/hyprland.conf"
alias waybarrc="$EDITOR $XDG_CONFIG_HOME/waybar/config"
alias lsblk="lsblk -o PATH,UUID,PARTUUID,MOUNTPOINTS -x PATH"

alias bsrc="$EDITOR $XDG_CONFIG_HOME/bspwm/bspwmrc"
alias sxrc="$EDITOR $XDG_CONFIG_HOME/sxhkd/sxhkdrc"
alias picomrc="$EDITOR $XDG_CONFIG_HOME/picom/picom.conf"
alias dunstrc="$EDITOR $XDG_CONFIG_HOME/dunst/dunstrc"
alias rofirc="$EDITOR $XDG_CONFIG_HOME/rofi/config.rasi"
alias kittyrc="$EDITOR $XDG_CONFIG_HOME/kitty/kitty.conf"
alias polybarrc="$EDITOR $XDG_CONFIG_HOME/polybar/config.ini"
alias zshrc="$EDITOR $XDG_CONFIG_HOME/zsh/.zshrc"
alias xinitrc="$EDITOR $XDG_CONFIG_HOME/X11/xinitrc"

alias updates="checkupdates; paru -Qum"
alias rs="curl --data-binary @- https://paste.rs | xclip -selection clipboard"
