*.bak
.config/Thunar/accels.scm
.config/Thunar/renamerrc
.config/ncmpcpp/error.log
.config/zsh/.zgenom
.config/nvim/lazy-lock.json
.config/nvim/lua/.luarc.json

.config/ags/colors_ags.css
.config/dunst/dunstrc
