* {
    font-family: SpaceMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    color: #C0CAF5;
}

window#waybar{
    background: rgba(21, 22, 30, 0.5);
}

tooltip {
  background: #1e1e2e;
}

#workspaces button {
  padding: 0px;
  color: #c0caf5;
}

#workspaces button.active {
  border-bottom: 2px solid #7aa2f7; 
}

#workspaces button.focused {
  color: #a6adc8;
}

#workspaces button.urgent {
  color: #F7768E;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
}

#custom-sep {
  background: rgba(21, 22, 30, 0.7);
  margin: 3px 0px;
  border: 0px;
}

#custom-kernel,
#custom-pacman,
#clock,
#window,
#temperature,
#cpu,
#memory,
#pulseaudio,
#tray {
  background: rgba(21, 22, 30, 0.7);
  padding: 0px 10px;
  margin: 3px 0px;
  border: 0px;
}

#workspaces {
  background: rgba(21, 22, 30, 0.7);
  padding: 0px 10px;
  margin: 3px 0px;
  border: 0px;
}


#tray {
  border-radius: 12px 12px 12px 12px;
  margin-right: 6px;
}

#window {
  border-radius: 12px 12px 12px 12px;
}

#temperature {
  border-radius: 12px 0px 0px 12px;
}

#custom-pacman, #custom-kernel {
  border-radius: 0px 12px 12px 0px;
}
